{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IA Mamões</title>
    
</head>
<body>

    <h1>IA MAMÕES</h1>

    <div class="container">
        <div class="container-cicle">
            <div class="cicle"></div>
            <img src="images/image 1.png" alt="">
        </div>
        <div>
            <div id="video-container">
                <p>Envie sua imagem aqui</p>
                <video id="video" width="300" height="225" autoplay></video>
                <br>
                <button id="capture-btn">Capturar Foto</button>
                <br>
                <canvas id="canvas" width="300" height="225" style="display: none;"></canvas>
                <img id="captured-image" src="#" alt="Captured Image">
                <p>Resultado:</p>
                <p id="result-message"></p> 
            </div>
            <form id="form">
                {% csrf_token %}
                <input type="file" id="file-input" accept="image/*">
                <input type="submit" value="Enviar">
            </form>
        </div>
    </div>

    <script>
        document.addEventListener("DOMContentLoaded", function() {
            const video = document.getElementById('video');
            const canvas = document.getElementById('canvas');
            const captureButton = document.getElementById('capture-btn');
            const capturedImage = document.getElementById('captured-image');
            const fileInput = document.getElementById('file-input');
            const form = document.getElementById('form');
            const resultMessage = document.getElementById('result-message'); // Elemento para exibir a mensagem
        
            // acesssando a webcam
            if (navigator.mediaDevices && navigator.mediaDevices.getUserMedia) {
                navigator.mediaDevices.getUserMedia({ video: true })
                .then(function(stream) {
                    video.srcObject = stream;
                    video.play();
                })
                .catch(function(err) {
                    console.error('Erro ao acessar a webcam: ', err);
                });
            }
        
            // Capturando a imagem 
            captureButton.addEventListener('click', function() {
                canvas.getContext('2d').drawImage(video, 0, 0, canvas.width, canvas.height);
                capturedImage.src = canvas.toDataURL('image/png');
                capturedImage.style.display = 'block';
                video.style.display = 'none'; 
                fileInput.style.display = 'none';
            });
        
            // imagem no input 
            capturedImage.addEventListener('click', function() {
                fileInput.click();
            });
        
            fileInput.addEventListener('change', function() {
                if (fileInput.files && fileInput.files[0]) {
                    const reader = new FileReader();
                    reader.onload = function(e) {
                        capturedImage.src = e.target.result;
                    }
                    reader.readAsDataURL(fileInput.files[0]);
                }
            });
        
            // Submit form
            form.addEventListener('submit', function(event) {
                event.preventDefault();
                const formData = new FormData(form);
                if (capturedImage.src) {
                    const blob = dataURItoBlob(capturedImage.src);
                    formData.append('methodJson', true);
                    formData.append('arquivo', blob, 'image.png');
                }
                // Envia a imagem para o servidor
                fetch('/', { 
                    method: 'POST',
                    body: formData
                })
                .then(response => response.json())
                .then(data => {
                    resultMessage.textContent = data.result; 
                    resetUI(); 
                })
                .catch(error => {
                    console.error('Erro ao enviar a imagem:', error);
                });
            });
        
            // Função para converter uma data URI em um Blob
            function dataURItoBlob(dataURI) {
                const byteString = atob(dataURI.split(',')[1]);
                const mimeString = dataURI.split(',')[0].split(':')[1].split(';')[0];
                const ab = new ArrayBuffer(byteString.length);
                const ia = new Uint8Array(ab);
                for (let i = 0; i < byteString.length; i++) {
                    ia[i] = byteString.charCodeAt(i);
                }
                return new Blob([ab], {type: mimeString});
            }
        
            // Função para limpar o estado da interface do usuário
            function resetUI() {
                capturedImage.src = '';
                capturedImage.style.display = 'none';
                video.style.display = 'block';
                fileInput.style.display = 'block';
                resultMessage.textContent = '';
            }
        });
    </script>

</body>
</html>